.custom-date{
  /* width: 100%; */
  width: 230px;
}
form .MuiStack-root{
  margin-bottom: 18px !important;
}
.custem-form{
  margin-top: 50px;
}
form .MuiInputBase-input-MuiOutlinedInput-input{
  width: 400px;
}